.logo {
  height: 5.2rem;
}

.footer {
  padding: 9.6rem 2rem;
  border-top: 2px solid #eee;
  background-color: #fcfaf9;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.4rem;
  height: 5.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 3.4rem;
  width: 3.4rem;
  color: rgb(0, 64, 201);
}

.social-icon-yt {
  height: 3.4rem;
  width: 3.4rem;
  color: #c1272d;
}

.logo-link {
  display: flex;
  gap: 5rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #c1272d;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 59em) {
  .grid--footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.2rem;
  }
  
  .logo-col {
    grid-column: 1 / -1;
    align-items: center;
    text-align: center;
  }
  
  .social-links {
    justify-content: center;
  }
}

@media (max-width: 44em) {
  .grid--footer {
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }
  
  .logo-col {
    grid-column: 1 / -1;
  }
  
  .address-col {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 34em) {
  .grid--footer {
    grid-template-columns: 1fr;
    gap: 4.8rem;
    text-align: center;
  }
  
  .logo-col {
    grid-column: 1;
  }
  
  .address-col {
    grid-column: 1;
  }
  
  .footer-nav {
    align-items: center;
  }
  
  .logo-link {
    justify-content: center;
  }
}
