/* Responsive Design */

/* Tablet & Smaller Desktops */
@media (max-width: 59em) {
  html {
    font-size: 56.25%; /* 9px */
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4rem;
    padding: 0 3.2rem;
  }
}

/* Mobile Landscape & Tablets */
@media (max-width: 44em) {
  html {
    font-size: 50%; /* 8px */
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    gap: 4.8rem;
    text-align: center;
  }

  .hero-img-box,
  .hero-text-box {
    text-align: center;
  }
  
  .hero-img-box {
    grid-row: 1; /* Image first on mobile */
    margin-bottom: 2rem;
  }

  .hero-img-box img {
    width: 60%;
  }

  .hero-btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .success-story {
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  /* Courses Grid Adjustment */
  .courses-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
    padding: 0 1.6rem;
  }
  
  .testomonial-gallery-container {
    grid-template-columns: 1fr;
  }
  
  .testimonials-container {
    padding: 4.8rem;
  }
  
  .cta-grid {
    grid-template-columns: 1fr;
  }
  
  .cta {
    padding: 4rem;
  }
  
  .cta-text-box {
    text-align: center;
  }
  
  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}

/* Mobile Portrait */
@media (max-width: 34em) {
  .grid--3-cols,
  .grid--2-cols,
  .courses-grid {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0 1.6rem;
  }
  
  .hero-img-box img {
    width: 80%;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.4rem;
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 1.6rem;
    text-align: center;
  }
  
  .hero-btns {
    flex-direction: column;
    width: 100%;
  }
  
  .section-hero {
    padding: 3.2rem 0;
  }
  
  .course-list {
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .footer {
    padding: 4.8rem 1.6rem;
  }
}
